<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>Server Yahoo360</title>
</head>

<body>
    <div class="container">
        <!-- List Users -->
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Address</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i=0; i < users.length; i++) { %>
                    <tr>
                        <th scope="row">
                            <%= i + 1 %>
                        </th>
                        <td>
                            <%= users[i].name %>
                        </td>
                        <td>
                            <%= users[i].email %>
                        </td>
                        <td>
                            <%= users[i].phoneNumber %>
                        </td>
                        <td>
                            <%= users[i].gender ? 'Male' : 'Female' %>
                        </td>
                        <td>
                            <%= users[i].address %>
                        </td>
                        <td>
                            <a class="btn btn-warning" href="/getInfoUserCRUD?id=<%= users[i].id %>" role="button">Update</a>
                            <a class="btn btn-danger" href="/deleteCRUD?id=<%= users[i].id %>" role="button">Delete</a>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>

        <!-- Create User -->
        <form action="/postCRUD" method="post">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Create user</label>
            </div>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Role</legend>
                    <div class="col-sm-10">
                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="roleId" value="R0" checked>
                            <label class="form-check-label">
                                Admin
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="roleId" value="R1">
                            <label class="form-check-label">
                                User
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" placeholder="Enter your name">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="email" placeholder="Enter your email">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="password" placeholder="Enter your password">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Address</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="address" placeholder="Enter your address">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Phone</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="phoneNumber" placeholder="Enter your phone number">
                </div>
            </div>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
                    <div class="col-sm-10">
                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" value="1" checked>
                            <label class="form-check-label">
                                Male
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" value="0">
                            <label class="form-check-label">
                                Female
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Position</legend>
                    <div class="col-sm-10">
                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="position" value="newbie" checked>
                            <label class="form-check-label">
                                Newbie
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="position" value="experienced">
                            <label class="form-check-label">
                                Experienced
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="position" value="expert">
                            <label class="form-check-label">
                                Expert
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>